<h1>Trimesters</h1>
<ul>
  <% @trimesters.each do |trimester| %>
    <li><%= "#{trimester.term} #{trimester.year}" %></li>
  <% end %>
</ul>
<% if flash[:alert] %>
<p style="color: red"><%= flash[:alert] %></p>
<% end %>